@use "../../base";
@use "../../colors";

body {
	font-size: 10vw;
}

.alert-container.playing {
	animation: 12s alert-animation ease-in-out forwards;
}

.alert-text-username {
	color: var(--color-accent);
}

.alert-text-channel-point-message {
	font-size: 6vw;
}
.alert-text-channel-point-message {
	-webkit-text-stroke: 0 #00000000;
}
