@use "base" with (
	$body-font-size: min(16vh, 10vw),
	$alert-container-animation-duration: 12s,
);
@use "colors";

.alert-text-username {
	color: var(--color-accent);
}

.alert-text-channel-point-message {
	font-size: min(12vh, 6vw);
}
.alert-text-channel-point-message {
	-webkit-text-stroke: 0 #00000000;
}
