# OBS has built-in support to export scene collections, but that also exports some setup-specific details (like absolute
# paths to images) so this file is a setup-agnostic, high-level description of the scene collection.

# The source type "Application Audio Capture (PipeWire)" (AAC) comes from
# the plugin <https://github.com/dimtpap/obs-pipewire-audio-capture>.

Global Audio Devices = all disabled

Scenes {
	"Main" {
		Source {
			# TODO
			"Common Sources" # scene
		}
	}

	"Break — Be Right Back" {
		Source {
			# TODO
			"Break w/out Primary Text" # scene
		}
	}

	"Break — Doing A Thing" {
		Source {
			# TODO
			"Break w/out Primary Text" # scene
		}
	}

	"Starting" {
		Source {
			# TODO
			"Starting/Ending w/out Text" # source
		}
	}

	"Ending" {
		Sources {
			# TODO
			"Starting/Ending w/out Text" # source
		}
	}

	#region utility scenes

	"┌─────── Utility Scenes ───────┐" {
		# Empty. This is just a separator.
	}

	"AACs" {
		Sources {
			"AAC: Discord"
			"Game AACs" # group
			"AAC: mpv"
		}
	}

	"Break w/out Primary Text" {
		Sources {
			"Break — Overlays" # group
			"Break — Secondary Text Image"
			"Common Sources" # scene
		}
	}

	"Starting/Ending w/out Text" {
		Sources {
			"Starting/Ending — Overlays" # group
			"Common Sources" # scene
		}
	}

	"Twitch Chat w/ Transparency" {
		Sources {
			"Twitch Chat"
		}

		Effect Filters {
			"Transparency": Color Correction {
				Gamma = <default>
				Contrast = <default>
				Brightness = <default>
				Saturation = <default>
				Hue Shift = <default>
				Opacity = 0.7500
				Color Multiply = <default>
				Color Add = <default>
			}
		}
	}

	"Common Sources" {
		Sources {
			"Water Background" # scene
			"Common Audio" # group
		}
	}

	"Water Background" {
		Sources {
			"Water Background Dimmer"
			"Water Image Slide Show"
		}
	}

	#endregion
}

all sources {
	#region break w/out primary text

	"Break — Overlays": Group {
		Sources {
			"Discord Reactive" {
				Transform {
					Position = 0.0000 px | 0.0000 px
					Rotation = 0.00°
					Size = <default> | <default>
					Positional Alignment = Top Left
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 0 px
					Crop Bottom = 0 px
				}
			}

			"Twitch Chat" {
				Transform {
					Position = 0.0000 px | <canvas height>
					Rotation = 0.00°
					Size = <default> | <default>
					Positional Alignment = Bottom Left
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 434 px # TODO: this is calculated
					Crop Bottom = 0 px
				}
			}

			"Twitch Alert Box" {
				Transform {
					Position = <canvas width> | 407.5000 px # TODO: this is calculated
					Rotation = 0.00°
					Size = <default> | <default>
					Positional Alignment = Top Right
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 0 px
					Crop Bottom = 0 px
				}
			}

			"Twitch Prediction Alert Box" {
				Transform {
					Position = (<canvas width> / 2) | 0.0000 px
					Rotation = 0.00°
					Size = 835.5615 px | 312.5000 px # TODO: those sizes are calculated
					Positional Alignment = Top Center
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 0 px
					Crop Bottom = 0 px
				}
			}
		}
	}

	"Break — Secondary Text Image": Image {
		Properties {
			Image File = "./scenes/break/secondary-text-image.png"
			Unload image when not showing = false
			Apply alpha in linear space = <default>
		}

		Transform {
			Position = (<canvas width> / 2) | <canvas height>
			Rotation = 0.00°
			Size = <default> | <default>
			Positional Alignment = Bottom Left
			Bounding Box Type = <default>
			Crop to Bounding Box = <default>
			Crop Left = 0 px
			Crop Right = 0 px
			Crop Top = 0 px
			Crop Bottom = 0 px
		}
	}

	#endregion

	#region starting/ending w/out text

	"Starting/Ending — Overlays": Group {
		Sources {
			"Discord Reactive" {
				Transform {
					Position = 0.0000 px | 0.0000 px
					Rotation = 0.00°
					Size = <default> | <default>
					Positional Alignment = Top Left
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 0 px
					Crop Bottom = 0 px
				}
			}

			"Twitch Chat" {
				Transform {
					Position = 0.0000 px | <canvas height>
					Rotation = 0.00°
					Size = <default> | <default>
					Positional Alignment = Bottom Left
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 175 px
					Crop Bottom = 0 px
				}
			}

			"Twitch Alert Box" {
				Transform {
					Position = (<canvas width> / 3 * 2) | <canvas height>
					Rotation = 0.00°
					Size = <default> | <default>
					Positional Alignment = Bottom Center
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 0 px
					Crop Bottom = 0 px
				}
			}

			"Twitch Prediction Alert Box" {
				Transform {
					Position = (<canvas width> / 3 * 2) | 0.0000 px
					Rotation = 0.00°
					Size = 798.1283 px | 298.5000 px # TODO: those sizes are calculated
					Positional Alignment = Top Center
					Bounding Box Type = <default>
					Crop to Bounding Box = <default>
					Crop Left = 0 px
					Crop Right = 0 px
					Crop Top = 0 px
					Crop Bottom = 0 px
				}
			}
		}
	}

	#endregion

	#region overlays

	# <https://reactive.fugi.tech/>
	"Discord Reactive": Browser {
		Properties {
			Local file = false
			URL = "https://reactive.fugi.tech/group/?layer-name=Discord+Reactive+-+Group&layer-width=1920&layer-height=300"
			Width = 600
			Height = 150
			Control audio via OBS = false
			FPS = 60
			Custom CSS = "@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
	background-color: rgba(0, 0, 0, 0);
	margin: 0px auto;
	overflow: hidden;
	font-family: \"Ubuntu\", sans-serif !important;
}"
			Shutdown source when not visible = false
			Refresh browser when source becomes active = false
			Page permissions = No access to OBS
		}
	}

	"Twitch Chat": Browser {
		Properties {
			Local file = false
			URL = [setup-specific] # https://streamlabs.com/widgets/chat-box/v1/...
			Width = 800
			Height = <canvas height>
			Control audio via OBS = false
			FPS = 60
			Custom CSS = <default>
			Shutdown source when not visible = false
			Refresh browser when source becomes active = false
			Page permissions = No access to OBS
		}
	}

	"Twitch Alert Box": Browser {
		Properties {
			Local file = false
			URL = [setup-specific] # https://dashboard.twitch.tv/widgets/alertbox#...
			Width = 600
			Height = 600
			Control audio via OBS = true
			FPS = 60
			Custom CSS = <default>
			Shutdown source when not visible = false
			Refresh browser when source becomes active = false
			Page permissions = No access to OBS
		}
	}

	# <https://www.boingy.co.uk/predictions>
	"Twitch Prediction Alert Box": Browser {
		Properties {
			Local file = false
			URL = [setup-specific] # https://www.boingy.co.uk/predictions/.../overlay
			Width = 500
			Height = 187
			Control audio via OBS = true
			FPS = 60
			Custom CSS = "@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
	background-color: rgba(0, 0, 0, 0);
	margin: 0px auto;
	overflow: hidden;
	font-family: \"Ubuntu\", sans-serif !important;
}"
			Shutdown source when not visible = false
			Refresh browser when source becomes active = false
			Page permissions = No access to OBS
		}
	}

	#endregion

	#region common sources

	"Mic": Audio Input Capture (PipeWire) {
		Properties {
			Device = [setup-specific]
		}

		Audio Filters {
			"Noise Gate": Noise Gate {
				Close Threshold = -52.00dB
				Open Threshold = -44.00dB
				Attack Time = <default>
				Hold Time = <default>
				Hold Time = <default>
			}

			"Noise Suppression": Noise Suppression {
				Method = RNNoise (good quality, more CPU usage)
			}

			"Gain": Gain {
				Gain = 4.00dB
			}
		}
	}

	"Common Audio": Group {
		Sources {
			"Mic"
			"AACs" # scene
		}
	}

	#endregion

	#region water background

	"Water Background Dimmer": Color Source {
		Color = rgba(0, 0, 0, 0.5)
		Width = <canvas width>
		Height = <canvas height>
	}

	"Water Image Slide Show": Image Slide Show {
		Properties {
			Visibility Behavior = Stop when not visible, restart when visible
			Slide Mode = Automatic
			Transition = Fade
			Time Between Slides = 3000ms
			Transition Speed = 3000ms
			Loop = true
			Hide when slideshow is done = false
			Randomize Playback = true
			Bounding Size/Aspect Ratio = <canvas resolution>
			Image Files = [
				"./scenes/water-background/slide-show-images/"
			]
		}

		Effect Filters {
			"Color Correction": Color Correction {
				Gamma = <default>
				Contrast = <default>
				Brightness = <default>
				Saturation = <default>
				Hue Shift = <default>
				Opacity = <default>
				Color Multiply = rgb(192, 192, 255)
				Color Add = <default>
			}
		}
	}

	#endregion

	#region AACs

	# Hide this if not currently in a call.
	"AAC: Discord": Application Audio Capture (PipeWire) {
		Match Priority = Match by binary name, fallback to app name
		Application = Discord
		Capture all apps except selected = false
	}

	#region games

	# Note: This is Linux specific. (Steam Proton)

	"AAC: ANIMAL WELL": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Animal Well"
		Capture all apps except selected = false
	}

	"AAC: Baba Is You": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Chowdren" # ???
		Capture all apps except selected = false
	}

	"AAC: Celeste": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Celeste.bin.x86_64"
		Capture all apps except selected = false
	}

	"AAC: Cuphead": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Cuphead.exe"
		Capture all apps except selected = false
	}

	"AAC: Dead Cells": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "deadcells"
		Capture all apps except selected = false
	}

	"AAC: Halo MCC": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Halo: The Master Chief Collection"
		Capture all apps except selected = false
	}

	"AAC: Hollow Knight": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "hollow_knight.x86_64"
		Capture all apps except selected = false
	}

	"AAC: Ghost Master": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Empire Interactive ghost"
		Capture all apps except selected = false
	}

	"AAC: GTFO": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "GTFO.exe"
		Capture all apps except selected = false
	}

	"AAC: It Takes Two": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "It Takes Two"
		Capture all apps except selected = false
	}

	"AAC: Left 4 Dead 2": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Left 4 Dead 2"
		Capture all apps except selected = false
	}

	"AAC: Plants vs. Zombies": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "Plants vs. Zombies"
		Capture all apps except selected = false
	}

	"AAC: Team Fortress 2": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "tf_linux64"
		Capture all apps except selected = false
	}

	"AAC: ULTRAKILL": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "ULTRAKILL.exe"
		Capture all apps except selected = false
	}

	"AAC: Unrailed!": Application Audio Capture (PipeWire) {
		Match Priority = Match by app name, fallback to binary name
		Application = "FMOD Audio" # ???
		Capture all apps except selected = false
	}

	#endregion

	"Game AACs": Group {
		Sources {
			# Hide the ones that aren't being used. Only at most one of them should be visible at a time.
			"AAC: ANIMAL WELL"
			"AAC: Baba Is You"
			"AAC: Celeste"
			"AAC: Cuphead"
			"AAC: Dead Cells"
			"AAC: Halo MCC"
			"AAC: Hollow Knight"
			"AAC: Ghost Master"
			"AAC: GTFO"
			"AAC: It Takes Two"
			"AAC: Left 4 Dead 2"
			"AAC: Plants vs. Zombies"
			"AAC: Team Fortress 2"
			"AAC: ULTRAKILL"
			"AAC: Unrailed!"
		}
	}

	"AAC: mpv": Application Audio Capture (PipeWire) {
		Match Priority = Match by binary name, fallback to app name
		Application = mpv
		Capture all apps except selected = false
	}

	#endregion
}

Audio Mixer {
	Name                          | Volume   | Audio Monitoring   | Tracks
	                              |          |                    | 1 | 2 | 3 | 4 | 5 | 6
	------------------------------+----------+--------------------+---+---+---+---+---+---
	"AAC: ANIMAL WELL"            |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Baba Is You"            |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Celeste"                |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Cuphead"                |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Dead Cells"             |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Discord"                |  -6.0 dB | Monitor Off        | x |   |   | x |   |
	"AAC: Ghost Master"           | -10.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: GTFO"                   |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Halo MCC"               |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Hollow Knight"          |  -2.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: It Takes Two"           |  -2.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Left 4 Dead 2"          |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: mpv"                    |   0.0 dB | Monitor Off        | x |   |   |   |   | x
	"AAC: Plants vs. Zombies"     |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Team Fortress 2"        |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: ULTRAKILL"              | -12.0 dB | Monitor Off        | x | x |   |   |   |
	"AAC: Unrailed!"              |  -8.0 dB | Monitor Off        | x | x |   |   |   |
	"Mic"                         |   0.0 dB | Monitor Off        | x |   | x |   |   |
	"Twitch Alert Box"            |   0.0 dB | Monitor and Output | x |   |   |   | x |
	"Twitch Prediction Alert Box" |   0.0 dB | Monitor and Output | x |   |   |   | x |
}
